<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"  >
    <div class="container">
        <div class="navbar-header col-md-12">
            <a class="navbar-brand" href="#">Whatapop</a>
            <button type="button"  class="navbar-btn header-button">Sign in</button>
            <button type="button"  class="navbar-btn header-button">Register</button>
            <button type="button"  class="navbar-btn search-button header-button"></button>
        </div>
        <!-- /.navbar-collapse -->
        <!--TODO Revisar-->
        <div class="col-md-12">
            <navBar></navBar>
        </div>
    </div>
    <!-- /.container -->

</nav>