<div class="container details">
    <div class="menu row">
        <div class="product col-sm-8">
            <img class="img-responsive" ng-src={{$ctrl.imageDisplayed}}></i>
            <div class="photo-gallery">
                <img  class="img-thumbnail photo-gallery-image" ng-click="$ctrl.displayImage(photo)" ng-repeat="photo in ::$ctrl.product.photos" ng-src={{photo}} >
            </div>
            <hr>
            <h2>{{::$ctrl.product.name}}</h2>
            <p>{{$ctrl.product.description | htmlToPlaintext}}</p>
            <hr>

        </div>
        <div class="col-sm-4 text-center">
            <h2>Marcar como favorito</h2>
            <img ng-click="$ctrl.changeFavoriteStatus()" class="star-icon" ng-src="{{$ctrl.favoriteImageUrl}}">
            <h2>{{::$ctrl.product.price | currency}}</h2>
            <h4>Categoría: {{::$ctrl.product.category.name}}</h4>
            <div>
                <h4>Vendedor:</h4>
                <img class="avatar img-circle" ng-src={{::$ctrl.product.seller.avatar}}>
                <p>{{::$ctrl.product.seller.nick}}</p>
            </div>
            <p>Producto publicado: {{$ctrl.product.published_date | date}}</p>
            <button class=" btn btn-primary btn-md btn-lg">Comprar</button>
        </div>
    </div>
    <!--/row-->
    <h3><a  class="back-button" ng-link="['ProductList']">Atrás</a></h3>
</div>
