<!--<section class="col-md-12" >
    <div class="thumbnail" >
        <img src= {{product.photos[0]}} alt="">
        <div class=" col-md-12">
            <h4 class="pull-right product-price">{{product.price}} €</h4>
            <h4 class="product-name"><a ng-link="['/ProductDetail',{id:product.name}]"></a>
            </h4>
            <p class="caption">{{product.description}}</p>
        </div>
    </div>
</section>-->


        <div class="container">
            <div class="menu row">
                <div class="product col-sm-6">
                    <a href="#"><img class="img-responsive" src="/assets/example/ec_guy.jpg"><i class="btn btn-product fa fa-star"></i></a>
                    <hr>
                    <h2>{{product.name}}</h2>

                    <h2 class="text-right">{{product.price}} €</h2>
                    <button class="btn btn-primary btn-lg ">Comprar</button>
                    <hr>

                    <div>
                        <img ng-repeat="photo in product.photos" src={{photo}}>
                    </div>


                </div>
                <div class="col-sm-6">
                    <div class="productsrow">
                        <p>{{product.description}}</p>
                        <hr>

                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
