<!--TODO poner todos los datos del producto en el detalle-->
        <div class="container">
            <a ng-link="['ProductList']">Atrás</a>
            <div class="menu row">
                <div class="product col-sm-6">
                    <a href="#"><img class="img-responsive" src={{product.photos[0]}}><i class="btn btn-product fa fa-star"></i></a>
                    <hr>
                    <h2>{{$ctrl.product.name}}</h2>

                    <h2 class="text-right">{{$ctrl.product.price}} €</h2>
                    <button class="btn btn-primary btn-lg ">Comprar</button>
                    <hr>

                    <div>
                        <img ng-repeat="photo in product.photos" src={{photo}}>
                    </div>


                </div>
                <div class="col-sm-6">
                    <div class="productsrow">
                        <p>{{product.description}}</p>
                        <hr>

                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
