<form id="main-search-form" class= "search-form" action="/search" method="get">
    <select class="search-select" ng-model="categoryData">
        <option value="">All</option>
        <option ng-repeat="category in categories" value={{category.id}}>{{category.name}}</option>

    </select>

    <input id="main-search-input" class="search-input" placeholder="Buscar producto..." type="text" maxlength="150" ng-model="searchData"/>


    <button type="button" ng-click="notifySearch()" class="search-button"></button>
</form>