<form id="main-search-form" class= "search-form" action="/search" method="get">
    <select class="search-select" ng-model="category" ng-controller="">
        <option value="">All</option>
        <option value="cat1">Categoría 1</option>
        <option value="cat2">Categoría 2</option>
        <option value="cat3">Categoría 3</option>
    </select>


    <input id="main-search-input" class="search-input" placeholder="Buscar producto..." type="text" maxlength="150" ng-model="busqueda"/>
</form>